:root  {
    --title-color: @color15;
    --title-button-background: alpha(@background, .8);
}

.widget-title {
    padding:unset;
    margin:unset;
    color: var(--title-color);
    padding-left:20px;
    padding-top:20px;
}

.widget-title > button {
    padding:unset;
    margin:unset;
    font-size: initial;
    color: var(--title-color);
    text-shadow: none;
    background: rgba(255,85,85,.3);
    border: none;
    box-shadow: none;
    border-radius: 12px;
    padding:0px 10px;
    margin-right:20px;
    margin-top:3px;
    transition: all .7s ease;
}

.widget-title > button:hover {
    border: none;
    background: var(--title-button-background);
    transition: all .7s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .65);
}
